* {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    width: 100%;
    height: 100%;
}

.header {
	margin-bottom: 1rem;
    padding: 10px 5px;
    width: 100%;
}

.header h2 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contributors h4 {
    margin: 10px;
}

.contributors ul li a {
    color: #000000;
    text-decoration: none;
}